<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--thymeleaf-->

    <link rel="shortcut icon" th:href="@{/images-project/favicon.ico}" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/styles/scrollToTop.css}">

    <link rel="stylesheet" th:href="@{/styles/footer.css}">

    <link rel="stylesheet" th:href="@{/styles/spin.css}">

    <link rel="stylesheet" th:href="@{/styles/loginAdm.css}">

    <link rel="stylesheet" th:href="@{/styles/buttons.css}">

    <title>Login Admin</title>
</head>
<body>
    <header>
        <a th:href="@{/}">
            <div class="imgLogo"></div>
        </a>
    </header>
    <div class="border">
        <main>
            <h1>Entrar</h1>
            <form th:object="${loginSingInRequest}" action="/adm/sing-in" method="POST">
                <div class="camp">
                    
                    <input  th:text="${userEmail}" th:field="*{email}" type="text" name="email" id="iemail">
                    <label for="iemail"><span class="material-symbols-outlined">
                        person
                        </span></label>
                         <p th:errors="*{email}"  class="invalid">
                        </p>
                        <p th:if="${usernameLength}" class="invalid">
                            Digite no mínino 8 caracteres!
                        </p>
                        <p th:if="${emailInvalid}" class="invalid">
                            Email inálido!
                        </p>
                </div>
                <div class="camp">
                  
                    <input type="password" name="password" id="ipassword" th:field="*{password}">
                    <label for="ipassword"><span class="material-symbols-outlined">
                        vpn_key
                        </span></label>
                         <p th:errors="*{password}" class="invalid">
                        </p>
                        <p th:if="${passwordLength}" class="invalid">
                            Senha com no mínino 8 caracteres!
                        </p>
                        <p th:if="${userInvalid}" class="invalid">
                            Email/senha inválidos!
                        </p>
                        <p th:if="${notAccess}" class="invalid">
                            Acesso negado!
                        </p>
                </div>
                <div class="options">
        
                    <div class="opt">
                        <input type="checkbox" name="remember" id="iremember">
                        <label for="iremember">Lembrar-me</label>
                    </div>
        
                    <div class="opt">
                        <input onclick="checkShowPassword()"type="checkbox" name="showPassword" id="ishow">
                        <label for="ishow">Mostar senha</label>
                    </div>
                </div>
                <div class="campSpin">
                    <div class="spin" id="spin"></div>
                </div>
                <div class="btns">
                    <input type="submit" value="Entrar" class="btnDetails" onclick="clickBtnSubmit()">
                </div>
            </form>
        </main>
    </div>
    <script th:src="@{/js/showPassword.js}"></script>
    <script th:src="@{/js/scrollToTop.js}"></script>
    <script th:src="@{/js/spinActive.js}"></script>
</body>
</html>