<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images-project/favicon.ico}" type="image/x-icon">

    <!--thymleaf-->
    <link rel="stylesheet" th:href="@{/styles/footer.css}">

    <link rel="stylesheet" th:href="@{/styles/modalLogout.css}">

    <link rel="stylesheet" th:href="@{/styles/card.css}">

    <link rel="stylesheet" th:href="@{/styles/homeAdm.css}">

    <link rel="stylesheet" th:href="@{/styles/menu.css}">

    <link rel="stylesheet" th:href="@{/styles/buttons.css}">


    <link rel="stylesheet" th:href="@{/styles/scrollToTop.css}">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Home Adm</title>
</head>

<body onresize="resetMenu()">
      <!--modal logout-->
   <div th:replace="~{fragments/modalFragment :: fadeLogout}"></div>
   <div th:replace="~{fragments/modalFragment :: modalLogout}"></div>
   <!--end modal logout-->

    <!--header mobile-->
    <header th:replace="~{fragments/fragmentsAdm :: menuMobile}" id="headerMobile"></header>
    <!--end header mobile-->

    <!--header desktop-->
    <header th:replace="~{fragments/fragmentsAdm :: menuDesktop}" id="headerDesktop"></header>

    <!--main -->
    <main onclick="closeMenuMobile()">
        <section class="title">
            <h1>OLá , <span th:text="${admAuthenticated.name}"></span></h1>
            <p>Seja bem vindo(a) ao seu painel adiminstrativo!</p>
        </section>

        <div th:if="${param.msg}"  class="msg">
            <p th:text="${param.msg}"></p>
        </div>
        <section class="cards">
            <div class="cardAdmin">
                <div class="cardAdminHeader">
                    <h2>Buscar receita</h2>
                </div>
                <div class="infoCard">
                    <p>Busque por qualquer receita do blog!</p>
                </div>
                <div class="cardAdminBody">
                    <div class="campSearch">
                        <form th:action="@{/adm/buscarReceita}" method="GET" th:object="${revenueSearch}">
                            <input type="text" th:field="*{name}" class="search" placeholder="Busque a receita aqui...">
                            <input type="submit" value="Buscar" class="btnDetails">
                            <p class="invalid" th:errors="*{name}"></p>
                        </form>
                    </div>
                </div>
            </div>

            <div class="cardAdmin">
                <div class="cardAdminHeader">
                    <h2>Buscar Sessão</h2>
                </div>
                <div class="infoCard">
                    <p>Busque por qualquer sessão do blog!</p>
                </div>
                <div class="cardAdminBody">
                    <div class="campSearch">
                        <form th:action="@{/adm/buscarSessao}" method="GET" th:object="${sectionSearch}">
                            <input type="text" th:field="*{name}" name="searchSection" class="search" placeholder="Busque a sessão aqui...">
                            <input type="submit" value="Buscar" class="btnDetails">
                            <p class="invalid" th:errors="*{name}"></p>
                        </form>
                    </div>
                </div>
            </div>

            <div class="cardAdmin">
                <div class="cardAdminHeader">
                    <h2>Adicionar receita</h2>
                </div>
                <div class="infoCard">
                    <p>Adicione receita ao blog!</p>
                </div>
                <div class="cardAdminBody">
                     <a th:href="@{/adm/adicionarReceita}"  class="btnDetails">Adicionar Receita</a>
                </div>
            </div>

            <div class="cardAdmin">
                <div class="cardAdminHeader">
                    <h2>Adicionar Sessão</h2>
                </div>
                <div class="infoCard">
                    <p>Adicione sessão ao blog!</p>
                </div>
                <div class="cardAdminBody">
                    <a th:href="@{/adm/adicionarSessao}" class="btnDetails">Adicionar Sessão</a>
                </div>
            </div>

            <div class="cardAdmin">
                <div class="cardAdminHeader">
                    <h2>Listar receita</h2>
                </div>
                <div class="infoCard">
                    <p>Liste todas as receita do blog!</p>
                </div>
                <div class="cardAdminBody">
                     <a th:href="@{/adm/listarReceita}" class="btnDetails">Listar Receitas</a>
                </div>
            </div>

            <div class="cardAdmin">
                <div class="cardAdminHeader">
                    <h2>Listar Sessão</h2>
                </div>
                <div class="infoCard">
                    <p>Liste todas as sessões do blog!</p>
                </div>
                <div class="cardAdminBody">
                    <a th:href="@{/adm/listarSessao}" class="btnDetails">Listar Sessão</a>
                </div>
            </div>

            <div class="cardAdmin">
                <div class="cardAdminHeader">
                    <h2>Listar usuários</h2>
                </div>
                <div class="infoCard">
                    <p>Liste todos os usuários do blog!</p>
                </div>
                <div class="cardAdminBody">
                    <a  th:href="@{/adm/listarUsuarios}" class="btnDetails">Listar Usuários</a>
                </div>
            </div>

        </section>
    </main>
    <!--end main -->
    <div class="scrollToTop" id="scroll" onclick="toTop()">
        <span class="material-symbols-outlined">expand_less</span>
    </div>
     <!--footer-->
     <footer>
      
            <p class="copyright">© 2023 Sabor em Ação. Todos os direitos reservados / Desenvolvido por <a
                href="https://contate.me/pedrodev" target="_blank" rel="external">Pedro
                    Henrique</a></p>
        </div>
    </footer>
    <!--end footer-->
    <!--scripts-->
    <script th:src="@{/js/modalLogout.js}"></script>
    <script th:src="@{/js/menuScripts.js}"></script>
    <script th:src="@{/js/scrollToTop.js}"></script>
    <!--end scripts-->
</body>

</html>