@charset "UTF-8";

:root {
  /*colors project*/
  --LaranjaClaro: #b37812;
  --Marrom: #584423;
  --MarromClaro: #a59882;
  --VerdeClaro: #3ae9b6;
  --Azul: #123357;
  /**************************/
}
/*fonts project*/
@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlayFairDisplay";
  src: url("../font/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/******************************************************/

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PlayFairDisplay";
}

p,
a {
  font-family: "OpenSans";
}

body,
html {
  overflow-x: hidden;
}

main {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  min-height: 100vh;
}
.sectionRevenue {
  padding-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
}
.sectionTitle > h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
  display: block;
  padding: 0.3rem;
  background-color: var(--LaranjaClaro);
  border-radius: 0.3rem;
  word-break: keep-all;
}

.sectionTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.backPage {
  margin: auto;
  text-align: center;
}

.backPage a {
  display: inline;
}

.msg {
  background-color: var(--MarromClaro);
  border: 2px solid var(--Marrom);
  width: 50%;
  max-width: 400px;
  text-align: center;
  border-radius: 0.4rem;
  color: white;
  padding: 1rem;
  margin: auto;
  margin-bottom: 3rem;
}
