@charset "UTF-8";

:root {
  /*colors project*/
  --LaranjaClaro: #b37812;
  --Marrom: #584423;
  --MarromClaro: #a59882;
  --VerdeClaro: #3ae9b6;
  --Azul: #123357;
  /**************************/
}
/*fonts project*/
@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlayFairDisplay";
  src: url("../font/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/******************************************************/

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PlayFairDisplay";
}

p,
a {
  font-family: "OpenSans";
}

body,
html {
  overflow-x: hidden;
}

main {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  min-height: 100vh;
}
.title {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.title h1 {
  text-align: center;
  color: var(--Marrom);
  font-size: 3rem;
  padding-bottom: 2rem;
}

.title p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.msg {
  border-radius: 0.3rem;
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding: 0.4rem 0rem;
  background-color: var(--MarromClaro);
  font-size: 1rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
}
.cards {
  margin-bottom: 3rem;
  text-align: center;
}
.favorites {
  margin-bottom: 2rem;
}

.pagination {
  margin-bottom: 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
#star {
  font-size: 2rem;
  position: relative;
  top: 6px;
}

.backPage {
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
}

.backPage a {
  display: inline;
}

@media only screen and (min-width: 530px) {
  div.cardHeader {
    background-position: center;
    width: 40%;
    background-size: cover;
    float: left;
    height: 210px;
  }
}
