@charset "UTF-8";

:root {
  /*colors project*/
  --LaranjaClaro: #b37812;
  --Marrom: #584423;
  --MarromClaro: #a59882;
  --VerdeClaro: #3ae9b6;
  --Azul: #123357;
  /**************************/
}
/*fonts project*/
@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlayFairDisplay";
  src: url("../font/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/******************************************************/

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

footer {
  overflow: hidden;
  background-color: var(--MarromClaro);
}

footer > div.infos {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer a {
  color: rgb(243, 243, 243);
  text-decoration: none;
  transition: 0.3s;
}

footer h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1.5px solid var(--Marrom);
}
.footerDiv1 > div > a {
  display: inline;
  margin: 0.4rem;
}

footer a {
  font-size: 1rem;
  padding: 0;
}
.footerDiv1 > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  justify-items: center;
  text-align: center;
}

.footerDiv2 a {
  margin: 0.4rem;
  font-size: 1rem;
}

.footerDiv2 img {
  height: 39px;
}

.footerDiv2 > div {
  display: flex;
  justify-content: center;
}

.footerDiv2 h1 {
  margin-bottom: 1rem;
}

.footerDiv3 > div {
  text-align: center;
}
.footerDiv3 h1 {
  margin-bottom: 2rem;
}

.footerDiv3 > div > a {
  display: block;
  margin: 0.6rem;
  font-size: 1rem;
}

.footerDiv1,
.footerDiv2,
.footerDiv3 {
  width: 90%;
}

@media (hover: hover) and (pointer: fine) {
  footer a:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}

@media screen and (min-width: 830px) {
  footer > div.infos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footerDiv1,
  .footerDiv2,
  .footerDiv3 {
    width: 30%;
    min-width: 200px;
  }

  .footerDiv1,
  .footerDiv2 {
    margin-right: 2rem;
  }

  .footerDiv2 div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerDiv2 img {
    height: 39px;
  }
  .footerDiv2 h1 {
    margin-bottom: 1rem;
  }
}

p.copyright {
  width: 100%;
  padding-top: 0.5rem;
  display: block;
  text-align: center;
}
p.copyright a {
  display: inline;
  color: white;
  font-size: 1rem;
}

div.campSearch {
  text-align: center;
  margin-top: 1rem;
  padding-top: 1rem;
}
.errorSearch {
  color: rgb(182, 0, 0);

  text-align: center;
}

footer input.searchInput {
  display: inline-block;
  border: 2px solid var(--Marrom);
  padding-left: 1rem;
  padding-right: 0.5rem;
  height: 35px;
  vertical-align: middle;
  margin-right: -7px;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  width: 60%;
  max-width: 600px;
  font-size: 1rem;
}

footer .btnSearch {
  height: 35px;
  font: 1rem;
}
