@charset "UTF-8";

:root {
  /*colors project*/
  --LaranjaClaro: #b37812;
  --Marrom: #584423;
  --MarromClaro: #a59882;
  --VerdeClaro: #3ae9b6;
  --Azul: #123357;
  /**************************/
}
/*fonts project*/
@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlayFairDisplay";
  src: url("../font/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/******************************************************/

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PlayFairDisplay";
}

p,
a {
  font-family: "OpenSans";
}

strong {
  color: var(--Marrom);
}

main {
  border-radius: 0.4rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.header h1 {
  font-size: 20px;
  text-align: center;
  color: var(--Marrom);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--Marrom);
}
img {
  width: 40%;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.desc {
  padding: 1rem;
  text-align: justify;
}

.desc h1 {
  text-align: start;
  font-size: 20px;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1.5px solid var(--Marrom);
  color: var(--Marrom);
}

.desc p {
  margin: 1rem;
  line-height: 1.8rem;
  font-size: 16px;
}

footer {
  text-align: center;
}
