@charset "UTF-8";

:root {
  /*colors project*/
  --LaranjaClaro: #b37812;
  --Marrom: #584423;
  --MarromClaro: #a59882;
  --VerdeClaro: #3ae9b6;
  --Azul: #123357;
  /**************************/
}

/*fonts project*/
@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlayFairDisplay";
  src: url("../font/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/******************************************************/

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  user-select: none;
}

@media only screen and (max-width: 1250px) {
  body {
    position: relative;
    width: 100%;
  }
}

/*font size header*/
ul#optionMobile a {
  font-size: 1rem;
  cursor: pointer;
}

header {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.376);
}
/*menu desktop*/
header#headerDesktop {
  display: none;
}

/*menu mobile*/
header#headerMobile {
  background-color: var(--LaranjaClaro);
  padding-top: 1rem;
  height: 95px;
}

a#logoHomeMobile {
  position: relative;
  display: inline;
}

/*img logo mobile*/
div#imgMobile {
  background-image: url(../images-project/logo-blog.png);
  height: 96px;
  width: 130px;
  margin-top: -20px;
  margin-bottom: -35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
  display: inline-block;
}

/*optionMobile*/
ul#optionMobile,
a {
  list-style: none;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  display: block;
  font-family: "OpenSans";
  padding-bottom: 1rem;
  transition: color 0.3s;
}

ul#optionMobile a {
  padding-top: 1rem;
}

ul#optionMobile > li:not(:last-child) {
  border-bottom: none;
}

ul#optionMobile {
  display: block;
  text-align: right;
  overflow: hidden;
  pointer-events: none;
  display: block;
  position: absolute;
  margin-top: 26px;
  left: 100%;
  width: 200px;
  z-index: 2;
  background-color: var(--LaranjaClaro);
  border-bottom-left-radius: 0.3rem;
  transition: left 0.5s;
}

ul#optionMobile.active {
  left: calc(100% - 200px);
  pointer-events: all;
  box-shadow: 4px 1px 1px rgba(0, 0, 0, 0.3);
  transition: left 0.5s;
}

ul#optionMobile a {
  display: block;
  text-align: end;
  margin-right: 3vw;
}

ul#expecialMenu {
  display: none;
  overflow: hidden;
  transition: height 0.5s;
}

ul#expecialMenu li {
  border-bottom: 1px solid var(--Marrom);
  line-break: anywhere;
}

ul#expecialMenu.active {
  display: block;
  transition: height 0.5s;
}

ul#optionMobile li#btnExpecial.active a {
  color: var(--Marrom);
}

ul#optionMobile li#btnExpecial.active {
  border-bottom: 1px solid var(--Marrom);
}

span#more {
  display: inline-block;
}

span#more.active {
  display: none;
}

span#less {
  display: none;
}

span#less.active {
  display: inline-block;
}

@media (hover: hover) and (pointer: fine) {
  ul#optionMobile a:hover {
    color: var(--Marrom);
    transition: color 0.3s;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1250px) {
  /*font size header*/
  ul#optionsDesktop a {
    font-size: 1rem;
  }

  a#logoHomeDesktop {
    position: relative;
    padding: 0;
  }

  /*menu mobile*/
  header#headerMobile {
    display: none;
  }

  /*menu desktop*/
  header#headerDesktop {
    display: block;
    background-color: var(--LaranjaClaro);
    padding: 1rem;
    height: 103px;
  }

  header#headerDesktop ul {
    list-style: none;
  }

  div#imgDesktop {
    background-image: url(../images-project/logo-blog.png);
    background-size: 100%;
    height: 150px;
    width: 223px;
    margin-left: 47px;
    display: block;
    float: left;
    margin-top: -70px;
  }

  header#headerDesktop ul#optionsDesktop {
    display: block;
    float: right;
    margin-top: -1rem;
  }

  header#headerDesktop ul#optionsDesktop > li {
    display: block;
    padding-top: 2rem;
    cursor: pointer;
  }

  header#headerDesktop ul#optionsDesktop > li {
    display: inline-block;
    height: 103px;
  }

  span#moreDesktop.acitve {
    display: none;
  }

  span#lessDesktop.acitve {
    display: block;
  }

  span#lessDesktop {
    display: none;
  }

  ul#listExpecialDesktop {
    position: absolute;
    display: block;
    width: 200px;
    top: 10%;
    margin-left: 1px;
    padding-bottom: 1rem;
    background-color: var(--LaranjaClaro);
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    opacity: 0;
    pointer-events: none;
  }

  ul#listExpecialDesktop li {
    height: 20px;
    padding: 1rem 0rem;
  }

  ul#listExpecialDesktop li > a {
    position: relative;
    margin-left: 1rem;
    top: -10px;
  }

  ul#listExpecialDesktop.active {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s;
  }

  ul#listExpecialDesktop li a {
    display: block;
  }

  ul#optionsDesktop > li > a {
    height: 100px;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    top: -30px;
  }

  @media (hover: hover) and (pointer: fine) {
    header#headerDesktop ul#optionsDesktop > li:hover > a {
      color: var(--Marrom);
      transition: color 0.3s;
    }

    header#headerDesktop ul#listExpecialDesktop li:hover a {
      color: var(--Marrom);
      transition: color 0.3s;
    }
  }
}
