@charset "UTF-8";

:root {
  /*colors project*/
  --LaranjaClaro: #b37812;
  --Marrom: #584423;
  --MarromClaro: #a59882;
  --VerdeClaro: #3ae9b6;
  --Azul: #123357;
  /**************************/
}
/*fonts project*/
@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlayFairDisplay";
  src: url("../font/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/******************************************************/

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PlayFairDisplay";
}

p,
a {
  font-family: "OpenSans";
}

body,
html {
  overflow-x: hidden;
}
main {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

section {
  margin-top: 0rem;
  padding-top: 2rem;
}

section:not(:first-child) {
  padding-top: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

.criador h1 {
  text-align: center;
  color: var(--Marrom);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-size: 3rem;
}

.img {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background-image: url(../images-project/pedro.jpg);
  background-size: cover;
  margin: auto;
  margin-bottom: 2rem;
}
main p {
  text-align: justify;
  font-size: 1rem;
  line-height: 2rem;
}

.text p:not(:first-child) {
  margin-top: 1rem;
}
.backPage {
  margin: auto;
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 4rem;
}
@media only screen and (min-width: 1330px) {
  .img {
    width: 199px;
    height: 199px;
  }
}

strong {
  color: var(--Marrom);
}
